//Colour
$color-primary  : #61EDE6;
$color-secondary: #61CAED;
$white          : #fff;
$grey           : #808080;
$black          : #000000;

//Font Stacks
$stack-sans-serif : Helvetica, Arial, sans-serif;
$stack-helvetica  : 'Helvetica Neue', $stack-sans-serif;

//Break Points
$brk-s: 440px;
$brk-m: 768px;
$brk-l: 1100px;
